body {
        background: url('/static/images/wallpaper.gif');
    
}
.navbar {
    background-color: #2d0250;
    padding: 0px;
    border-radius: 25px;

}

#logo {
    height: 140px;
    width: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left; 
    color: thistle;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

#play button {
    background-color: #2d0250;
    text-align: center;
    margin: -1rem;
    width: 50%;
    height: 2.5rem;
    border-radius: 20px;
    color: white;
}
 
#trivia_info{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 117px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
    }

#random_facts{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 99px;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 33px;
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}

#team_info{
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

#Isaac{
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}

#Yadel{
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}

#Divine{
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}

#AJ{
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}

#Fad{
    background-color: black;
    opacity: 0.65;
    border-radius: 1.3rem;
    color: white;
    font-weight: bold;
}
