<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../../../favicon.ico">

      <title>Trivia Stars</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/index.css') }}">
    </head>

    <body>
        <audio controls> 
            <source src="{{ url_for('static', filename='song/TriviaSong.ogg') }}" type="audio/ogg"> 
            <source src="{{ url_for('static', filename='song/TriviaSong.mp3') }}" type="audio/mpeg"> 
        </audio> 

        <div class="navbar">
            <ul>
                <li><a  href="#"><i class="fa fa-home"></i></a></li>
                <li id="info"><a href="/about"><i class="fa fa-info"></i></a></li>
                <li><a href="#play"><i class="fa fa-trophy"></i></a></li>
            </ul>

            <div class="navbar-brand">
                <figure>
                  <a class="logo" href="#"><img src="{{ url_for('static', filename='images/logo.gif') }}"
                      alt="Trivia Stars' logo" id="logo"></a>
                </figure>
            </div>
        </div>

        <div class="container-fluid" id="play">
            <img src="{{ url_for('static', filename='images/logo_2.jpeg') }}"
                      alt="Trivia Stars' logo_2" id="logo_2"></br>
            
            <button onclick="on()" id="create_game">CREATE GAME</button></br>
            <button onclick="on_1()" id="join_game">JOIN GAME</button>
            
        </div>

        <div id="overlay" onclick="off()">

        </div>
        <div id="overlay_1" onclick="off_1()"></div>
        

    </body>

</html>