<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../../../favicon.ico">

      <title>Trivia Stars</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{{ url_for('static',    filename='css/index.css') }}">
    </head>

    <body>
        <audio controls> 
            <source src="{{ url_for('static', filename='song/TriviaSong.ogg') }}" type="audio/ogg"> 
            <source src="{{ url_for('static', filename='song/TriviaSong.mp3') }}" type="audio/mpeg"> 
        </audio> 

        <div class="navbar">
            <ul>
                <li><a  href="#"><i class="fa fa-home"></i></a></li>
                <li id="info"><a href="/about"><i class="fa fa-info"></i></a></li>
                <li><a href="#play"><i class="fa fa-trophy"></i></a></li>
            </ul>

            <div class="navbar-brand">
                <figure>
                  <a class="logo" href="#"><img src="{{ url_for('static', filename='images/logo.gif') }}"
                      alt="Trivia Stars' logo" id="logo"></a>
                </figure>
            </div>
        </div>

        <div class="container-fluid" id="play">
            <img src="{{ url_for('static', filename='images/logo_2.jpeg') }}"
                      alt="Trivia Stars' logo_2" id="logo_2"></br>

            <button onclick="on()" id="create_game">PLAY SOLO</button></br>
            <button onclick="on_1()" id="create_game">CREATE MULTIPLAYER GAME</button></br>
            <button onclick="on_2()" id="join_game">JOIN MULTIPLAYER GAME</button>
            
        </div>

        <div id="overlay" class="container-fluid">
            <i class="fa fa-close" id="closebtn" onclick="off()"></i>

            <form name="play_solo_form" id= "play_solo_id" method="POST" action="/solo/game">
                <label>Nickname: </label><br>
                <input type="text" name="nickname" data-error="Enter your nickname" placeholder="Nickname" required><br>

                <label>Number of Questions: </label><br>
                <input type="number" step="any" min="1" max="20" name="amount" data-error="Enter the number of questions from 1-20" placeholder="1" required><br>

                <label>Select Category: </label><br>
                <select name="category" id="category">
                    <option value="default_c">Any Category</option>
                    <option value="9">General Knowledge</option>
                    <option value="10">Entertainment: Books</option>
                    <option value="movies">Film and TV</option>                             
                    <option value="music">Music</option>
                    <option value="13">Musicals and Theatres</option>
                    <option value="15">Video Games</option>
                    <option value="16">Board Games</option>
                    <option value="17">Science and Nature</option>
                    <option value="18">Science: Computers</option>
                    <option value="19">Science: Mathematics</option>
                    <option value="20">Mythology</option>
                    <option value="21">Sports</option>
                    <option value="geography">Geography</option>
                    <option value="food_and_drink">Food and Drink</option>
                    <option value="23">History</option>
                    <option value="24">Politics</option>
                    <option value="25">Art</option>
                    <option value="26">Celebrities</option>
                    <option value="27">Animals</option>
                    <option value="28">Vehicles</option>
                    <option value="29">Entertainment: Comics</option>
                    <option value="30">Science: Gadgets</option>
                    <option value="31">Entertainment: Japanese Anime and Manga</option>
                    <option value="32">Entertainment: Cartoon and Animations</option>
                    <option value="sport_and_leisure">Sport and Leisure</option>
                    <option value="society_and_culture">Society and Culture</option>
                    <option value="art_and_literature">Art and Literature</option>
                </select><br>

                <label>Select Difficulty:</label><br>
                <select name="difficulty" id="category">
                    <option value="default_d">Any Difficulty</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select><br>
                
                <button type="submit" id="form_submit">submit</button>
            </form>
        </div>

        <div id="overlay_1" class="container-fluid">
            <i class="fa fa-close" id="closebtn" onclick="off_1()"></i>

            <form name="create_game_form" id= "create_game_id" method="POST" action="/create/game">
                <label>Nickname: </label><br>
                <input type="text" name="nickname" data-error="Enter your nickname" placeholder="Nickname" required><br>
                
                <label>Number of Questions: </label><br>
                <input type="number" step="any" min="1" max="10" name="amount" data-error="Enter the number of questions from 1-10" placeholder="10" required><br>

                <label>Select Category: </label><br>
                <select name="category" id="category">
                    <option value="default_c">Any Category</option>
                    <option value="9">General Knowledge</option>
                    <option value="10">Entertainment: Books</option>
                    <option value="movies">Film and TV</option>                            
                    <option value="music">Music</option>
                    <option value="13">Musicals and Theatres</option>
                    <option value="15">Video Games</option>
                    <option value="16">Board Games</option>
                    <option value="17">Science and Nature</option>
                    <option value="18">Science: Computers</option>
                    <option value="19">Science: Mathematics</option>
                    <option value="20">Mythology</option>
                    <option value="21">Sports</option>
                    <option value="geography">Geography</option>
                    <option value="food_and_drink">Food and Drink</option>
                    <option value="23">History</option>
                    <option value="24">Politics</option>
                    <option value="25">Art</option>
                    <option value="26">Celebrities</option>
                    <option value="27">Animals</option>
                    <option value="28">Vehicles</option>
                    <option value="29">Entertainment: Comics</option>
                    <option value="30">Science: Gadgets</option>
                    <option value="31">Entertainment: Japanese Anime and Manga</option>
                    <option value="32">Entertainment: Cartoon and Animations</option>
                    <option value="sport_and_leisure">Sport and Leisure</option>
                    <option value="society_and_culture">Society and Culture</option>
                    <option value="art_and_literature">Art and Literature</option>
                </select><br>

                <label>PIN: </label><br>
                <input type="number" step="1" min="1000" max="9999" name="pin" data-error="create unique pin" placeholder="eg; 1222" required><br>
                
                <button type="submit" id="form_submit">submit</button>
            </form>

        </div>

        <div id="overlay_2" class="container-fluid">
            <i class="fa fa-close" id="closebtn" onclick="off_2()"></i>

            <form name="join_game_form" id= "join_game_id" method="POST" action="/join/game">
                <label>Nickname: </label><br>
                <input type="text" name="nickname" data-error="Enter your nickname" placeholder="Nickname" required><br>

                <label>Enter game PIN: </label><br>
                <input type="number" step="1" min="1000" max="9999" name="pin" data-error="create unique pin" placeholder="eg; 1222" required><br>
                
                <button type="submit" id="form_submit">submit</button>
            </form>

            <a id="random_game" href="/join/random">Join Random Game</a>
        </div>
        

    </body>
    
    <script src="{{ url_for('static',  filename='js/index.js') }}"></script>
</html>